html, body {
background-color: #FFFFFF;
color: black;
height: 100%;
width: 100%;
margin: 0;
overflow: hidden;
}

.title {
  color: black;
}

.navbar {
  background-color: #141f2f;
  height: 55px;
  border-bottom: solid white 2px;
  box-shadow: 0 0 20px;
}

.navbar-brand {
  color: #3399db;
  font-weight: bold;
  font-family: 'Orbitron', sans-serif;
}
.modebar-btn {
  background-color: white;
}
.navbar-brand:hover {
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}

#runButton {
  margin-left: 15px;
  border-radius: 10px;
  height: 30px;
  margin-top: 6px;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  height: calc(100% - 55px);
  width: 100%;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  align-content: flex-end;
  border-right: solid white 2px;
  background-color: #1f2e47;
}

#blocklyDiv {
  height: 70%;
  width: 100%;
  background-color: #1f2e47;
  color: black;
  border-bottom: solid white 2px;
}

.blocklySvg {
  color: black;
  background-color: #1f2e47;
}

.fileUploadDiv {
  height: 30%;
}
.upload-logo {
  display: block;
  margin: auto;
  padding-top: 10px;
  padding-left: 50px;
  width: 150px;
  height: 80px;
}

input {
  padding-top: 15px;
  padding-left: 40%;
}

.blocklyCommentTextarea{
  color: black;
}
#\3a 1 > div.blocklyTreeRow{

  background-color: rgb(91,128,165);



}
#\3a 1 > div.blocklyTreeRow:hover{

  background-color: silver;



}
#\3a 2 > div.blocklyTreeRow{

  background-color: rgb(165,91,91);



}
#\3a 2 > div.blocklyTreeRow:hover{

  background-color: silver;



}
#\3a 3 > div.blocklyTreeRow{

  background-color: rgb(91,165,91);



}
#\3a 3 > div.blocklyTreeRow:hover{

  background-color: silver;



}
#\3a 4 > div.blocklyTreeRow{

  background-color: rgb(91,103,165);



}
#\3a 4 > div.blocklyTreeRow:hover{

  background-color: silver;



}
#\3a 5 > div.blocklyTreeRow{

  background-color: rgb(91,165,140);



}
#\3a 5 > div.blocklyTreeRow:hover{

  background-color: silver;



}
#\3a 6 > div.blocklyTreeRow{

  background-color: rgb(116,91,165);



}
#\3a 6 > div.blocklyTreeRow:hover{

  background-color: silver;



}
#\3a 7 > div.blocklyTreeRow{

  background-color: rgb(165,116,91);



}
#\3a 7 > div.blocklyTreeRow:hover{

  background-color: silver;



}
#\3a 9 > div.blocklyTreeRow{
  background-color: rgb(165, 91, 128);
}
#\3a 9 > div.blocklyTreeRow:hover{

  background-color: silver;



}
#\3a a > div.blocklyTreeRow{
  background-color: rgb(153, 91, 165)
}
#\3a a > div.blocklyTreeRow:hover{

  background-color: silver;



}

.blocklyToolboxDiv {
  color: white;
  background-color: #141f2f;
  z-index: 100;
  width: 20%;
  height: 100%;
}

#fileInput {
  width: 100%;
  height: calc(30% - 2px);
  z-index: 10;
  background-color: #1f2e47;
  color: white;
}

#output {
  /* Dimensions with respect to right column */
  height: calc(50% - 0px);
  width: 100%;

}

.tab-content {
  min-height: 100%;
  height: calc(100% - 45px);
  width: 100%;
  color: white;
  background-color: #223351;
}

.nav-tabs{
  background-color: #223351;
}

.nav-tabs .nav-link {
    border: 1px solid #fbfafa;
}

.nav-tabs .nav-link.active {
  background-color: #223351;
  color: white;
  border-color: #dee2e6 #dee2e6 #223351;
  border-left-color:#223351;
}

a {
  background-color: #141f2f;
}

#textOutputDiv {
  min-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-left: 10px;
  color: white !important;
  background-color: #223351;
  border-color: #223351;
}

#jsCodeDiv, #pythonCodeDiv {
  min-height: 100%; /* Still shows div when there is no text */
  height: 100%;
  width: 100%;
  margin: 0;
  color: white;
  background-color: #223351;
  padding-left: 10px;
}

textarea {
  color: white;
}

[contentEditable=true]:empty:not(:focus):before{
        content:attr(data-text);
    }

#visualOutputDiv {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  height: calc(50% - 45px);
  width: 100%;
  margin: 0;
  color: white;
  background-color: #223351;
}

.help-welcome {
  padding-top: 50px;
  padding-left: 20px;
  color: white;
}
